
body {
    margin: 0;
    padding: 0;
  }
  
  header {
    background: #ffffff;
    border-color: #cccccc;
    height: 100px;
    box-shadow: 0px 2px 4px 0px #00000047;
    font-family: 'Georgia', Times, Times New Roman, serif;
    text-decoration: none;
    text-align: right;
  }
  
  main {
    display: flex;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    position: relative;
  }

  html{
    background-image: url("../images/white-waves.png");
  }
  
  footer {
    height: 40px;
    background: #666666;
    border-top: 5px solid #4aaaa5;
    position: fixed;
    bottom: 0px;
    padding: 10px 0px 5px 0px;
    width: 100%;
  }
  
  .card {
    padding: 20px;
    background: white;
    margin: 20px;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-basis: 960px;
    box-shadow: 2px 0px 2px 3px #0000000f;
    max-width: 960px;
  }

  .card-portfolio{
    padding: 20px;
    background: white;
    margin: 20px;
    flex-basis: 960px;
    box-shadow: 2px 0px 2px 3px #0000000f;
    margin-left: 150px;
    margin-bottom: 80px;
  }
  aside {
    width: 20%;
    height: 30px;
    padding: 35px;
    margin-left: 150px;
    color: white;
    background: #4aaaa5;
    float: left;
  }  

    #main-bio{
        float: left;
        line-height: 1.5em;
    }

    #bio-image{
        float: left;
        margin-right: 20px;
    }

    .nav-list{
        float: right;
    }

    .navigation{
        list-style: none;
        text-decoration: none;
        margin-top: 0px;
        margin-right: 100px;
        padding: 50px 0px;
        margin-left: 150px;
        margin-right: 50px;
        max-width: 960px;
    }
    .navigation li{
        display: inline;
        text-decoration: none;
        border-right-color: #cccccc;
        border-right-width: 2px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .navigation-link{
        text-decoration: none;
        color: gray;
    }
    .border{
        display: inline;
        text-decoration: none;
        border-right-style: solid;
        border-right-color: #cccccc;
        border-right-width: 2px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .clearfix::after{
        clear: both;
        content: "";
        display: block;

    }
    h3{
        color: #4aaaa5;
        /* font-family: 'Georgia', Times, Times New Roman, serif; */
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    h1{
        margin: 0;
        margin-bottom: 20px;
        color: #eee;
        text-align: center;
        font-family: 'Georgia', Times, Times New Roman, serif;
    }
    #table1{
        border-collapse: separate;
        border-spacing: 15px 25px;
    }
    .underline{
        border-color: #f1f0f0;
    }
    #button{
        background-color: #4aaaa5;
        border-radius: 0;
        -webkit-appearance: none;
        color: white;
        padding: 8px 10px;
        border: none;
    }
    .input-label{
        width: 100%;
        line-height: 1.5em;
        display: block;
        margin-top: 8px;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    .input-text{
        width: 100%;
        line-height: 1.5em;
        padding: 8px;
        box-sizing: border-box;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }
    .input-textarea{
        resize: vertical;
        border-color: #d6d6d6;
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    }